#navbar-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#explore{
    margin-top: -20px;
}

#search-box{
    display: flex;
    cursor: pointer;
    align-items: center;
}

#search-box:hover{
    padding-left: 10px;
    padding-right: 10px;
}

#search-box:hover input{
    width: 150px;
}

#search-box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

@media (max-width:900px) {

}